footer.mainFooter
    .container
        ul
            li.first
                a(href='#') Privacy Policy
            li.last
                a(href='#') Term of Use
            li.contact
                span.visible-desktop For more information,&nbsp;
                a(href='#') contact us
            li.copyright Copyright &copy; 2013 Abbvie Corporation
        div.clearfix