aside.adminPanel
    h3 Control Panel
    ul.dl-menu
        li
            a(href='#') Company
            ul.dl-submenu
              li
                a(href='#') Abbvie
                ul.dl-submenu
                  li
                    a(href='/admin/companies/abbvie') Edit
                  li
                    a(href='#') Brands
                    ul.dl-submenu
                      li
                        a(href='/admin/companies/abbvie/brands/humira') Humira
                        ul.dl-submenu
                          li
                            a(href='#') Edit
                          li
                            a(href='#') Files
                            ul.dl-submenu
                              li
                                a(href='/admin/companies/abbvie/brands/humira/files/product-monograph') Product Monograph
                              li
                                a(href='/admin/companies/abbvie/brands/humira/files/letter') HCP Letter
                              li
                                a(href='/admin/companies/abbvie/brands/humira/files') View list
                              li
                                a(href='#') Add File
                      li
                        a(href='/admin/companies/abbvie/brands') View list
                      li
                        a(href='#') Add Brand
              li
                a(href='/admin/companies') View list
              li
                a(href='#') Add Company
        li
            a(href='/admin/users') Users
        li
            a(href='/admin/users/bmod') Account Settings
        li
            a(href='#') Log Out
    .breadcrumb