- var meta = meta || {};
- var parts = parts || {};
- var admin = admin || false;
!!! 5
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width')
    title #{meta.title ? meta.title + ' | HCP' : 'HCP'}
    link(rel='stylesheet', href='/styles/style.css')
    - if(admin)
      link(rel='stylesheet', href='/styles/admin.css')
    link(rel='shortcut icon', href='/images/icons/favicon.ico')
    script(src='/scripts/libs/modernizr.custom.js')
    script
      var _gaq = _gaq || [];
      (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
  body(lang='#{meta.lang}')
      include ../parts/header
      include ../parts/content
      include ../parts/footer
      include ../parts/scripts


